[Unit]
Description=Train Switch
After=network.target

[Service]
ExecStart=/usr/bin/python3 app.py
WorkingDirectory=/home/lionel/Pi-Train-Switching
StandardOutput=inherit
StandardError=inherit
Restart=always
User=lionel

[Install]
WantedBy=multi-user.target
