[Unit]
Description=Train Switch
After=network.target

[Service]
ExecStart=/usr/bin/python3 app.py
WorkingDirectory=/home/%u/Pi-Train-Switching
StandardOutput=inherit
StandardError=inherit
Restart=always
User=%u

[Install]
WantedBy=multi-user.target
