[Unit]
Description=Train Switch
After=network.target vasd.service

[Service]
ExecStart=/usr/bin/python3 app.py
WorkingDirectory=/home/celeryman/Pi-Train-Switching
StandardOutput=inherit
StandardError=inherit
Restart=always
User=celeryman

[Install]
WantedBy=multi-user.target
Alias=train_switch.service
