body {
	background: beige;
	color: black;
}

input.unclicked {
	background: rgb(193, 216, 224);
	color: rgba(0, 0, 0, 0.5);
}

input.clicked {
	background: darkblue;
	color: white;
}

textarea {
	height: auto;
  }

table {
	width:100%;
}