{% import 'forms.html' as forms %}
<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href='/static/style.css'/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <a href="{{ url_for('index') }}">Back to Home</a>
    <br>
    <a href="{{ url_for('pinout') }}">View Pinout</a>
    <hr />
    {% for key, value in devices.items() %}
    {{ forms.active(value) }}
    <hr />
    {% endfor %}
    {{ forms.config(pin_pool) }}
    {% if error: %}
    <p style="color:red">Error {{ error }}</p>
    {% endif %}
    <hr />
    {{ forms.save_load() }}
    {% if message: %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
    <hr />
</body>
</html>