<html>

<head>
    <link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <h1>Trains!</h1>
    Switch 1:
    <table style="width:100%">
        <tr>
            <form action="{{ url_for("index")}}" method="post">
                <input type="submit" value="left" name="0">
            </form>
        </tr>
        <tr>
            <form action="{{ url_for("index")}}" method="post">
                <input type="submit" value="right" name="0">
            </form>
        </tr>
    </table>
    <BR>
    <BR>
    Switch 2:
    <table style="width:100%">
        <tr>
            <form action="{{ url_for("index")}}" method="post">
                <input type="submit" value="left" name="1">
            </form>
        </tr>
        <tr>
            <form action="{{ url_for("index")}}" method="post">
                <input type="submit" value="right" name="1">
            </form>
        </tr>
    </table>
</body>

</html>