{% import 'forms.html' as forms %}
<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href='/static/style.css'/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <h1>Train Switches  ({{ train_switches.__len__() }})</h1>
    <hr />
    <!-- Loop through all switches and display controls -->
    {% for key, value in train_switches.items() %}
    {{ forms.input(value) }}
    <hr />
    {% endfor %}
    <h2>Quick Links</h2>
    <a href="{{ url_for('log') }}">View Logs</a>

</body>
</html>